@font-face {
  src: local('M PLUS Rounded 1c'),
    url('./assets/mplus/MPLUSRounded1c-Black.ttf') format('truetype');
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: local('M PLUS Rounded 1c'),
    url('./assets/mplus/MPLUSRounded1c-ExtraBold.ttf') format('truetype');
  font-family: 'M PLUS Rounded 1c';
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: local('M PLUS Rounded 1c'),
    url('./assets/mplus/MPLUSRounded1c-Bold.ttf') format('truetype');
  font-family: 'M PLUS Rounded 1c';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: local('M PLUS Rounded 1c'),
    url('./assets/mplus/MPLUSRounded1c-Medium.ttf') format('truetype');
  font-family: 'M PLUS Rounded 1c';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: local('M PLUS Rounded 1c'),
    url('./assets/mplus/MPLUSRounded1c-Regular.ttf') format('truetype');
  font-family: 'M PLUS Rounded 1c';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: local('M PLUS Rounded 1c'),
    url('./assets/mplus/MPLUSRounded1c-Light.ttf') format('truetype');
  font-family: 'M PLUS Rounded 1c';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: local('M PLUS Rounded 1c'),
    url('./assets/mplus/MPLUSRounded1c-Thin.ttf') format('truetype');
  font-family: 'M PLUS Rounded 1c';
  font-weight: 100;
  font-style: normal;
}

$body-font-family: 'M PLUS Rounded 1c';
$title-font: 'M PLUS Rounded 1c';
$font-family: 'M PLUS Rounded 1c';

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}
.application {
  font-family: "M PLUS Rounded 1c";
}
.headline,
.title,
.subheading{
     font-family: $body-font-family !important;
}