// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-primary: #80DB56;
$color-bg-white: #FFFFFF;
$color-bg-grey: #F5F5F5;
$color-light-green: #E4FFD8;
$color-icons: #80DB56;
$color-bg-green: #FBFFF5;
$color-text-black: #4B4B4B;
$color-text-white: #FBFFF5;
$color-text-green: #80DB56;

$border-radius: 5px;

$color-card-red: #EC5757;
$color-card-green: #8CE961;
$color-card-blue: #708EF8;
$color-card-orange: #FFC632;